<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <img [src]="cheminImage"/>
            <li routerLinkActive="active">
                <a routerLink="choregraphies">Choregraphies</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkAxtive="active" *ngIf="!isAuth">
                <a routerLink="auth/signup">Créer un compte</a>
            </li>
            <li routerLinkAxtive="active" *ngIf="!isAuth">
                <a routerLink="auth/signup">Connexion</a>
            </li>
            <li>
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
            </li>
             
        </ul>
    </div>