<body>
  <div class="row">
    <div class="col-xs-12">
      <h2>Visualiser / Modifier la chorégraphie</h2><br>
      <h3>{{choregraphie.nom}} par {{choregraphie.choregraphe}}</h3><br>
      <button class="btn btn-default" (click)="onBack()"><h4>Retour</h4></button><br>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
        <div style="position: relative; left: 70px">
          <div class="button-area-line">
              <button type="button" class="btn btn-primary" (click)="precedent()"> Précédent </button>
              <button type="button" class="btn btn-primary" (click)="suivant()"> Suivant </button>
              <button (click)="suivant_autom()"> Suivant Autom </button>
              <button (click)="stop()"> Stop </button>
          </div><br>
        </div>
        <div style="position: relative; left: 350px">
          <label>Placement visualisé : {{ indicePlacement }}/{{ longueur }} </label>
        </div>
        <div class="in-line">
          <div style="position: relative; left: 0px; top: 5px; height: 400px; width: 800px; background-color: lightgray" class="container">
              <div class = "wrapper" *ngFor="let danseur of danseurs; let index = index" >
                  <div
                      class = "theDiv"
                      style="height: 20px; width: 20px; background-color: white"
                      cdkDrag [cdkDragFreeDragPosition]="dragPositions[index]"
                      cdkDragBoundary=".container"
                      (cdkDragEnded)="onDragEnded($event, index)">
                      {{danseur.id}}
                  </div>
              </div>
          </div>
          <div class="button-area">
            <div class="box" > <button type="button" class="btn btn-success" (click)="savePlacement()"> Ajouter ce placement </button> </div>
            <div class="box" > <button type="button" class="btn btn-success" (click)="modifierPlacement()"> Modifier ce placement </button></div>
          </div>
        </div> <br>
        <div style="position: relative; left: 400px; ">
          <label for="nom">Public</label><br><br>
        </div>
    </div>
  </div><br><br>
</body>