<div class="row">
    <div class="col-xs-12">
        <h2>Visualiser / Modifier la chorégraphie</h2>
        <br>

        <h3>{{choregraphie.nom}}</h3>
        <h3>{{choregraphie.choregraphe}}</h3>
   
        <br>
        <button class="btn btn-default" (click)="onBack()">Retour</button>
        

    </div>

    
    <div class="col-sm-8 col-sm-offset-2">
     
        <br>
 <button (click)="savePlacement()"> Ajouter ce placement </button>

<button (click)="stop()"> Stop </button>

<button (click)="suivant()"> Suivant </button>

<button (click)="precedent()"> Précédent </button>

<button (click)="suivant_autom()"> Suivant Autom </button>

<button (click)="modifierPlacement()"> Modifier ce placement </button>

<h4>Nombre de placements enregistrés : {{ choregraphie.listePlacements.length-1 }}</h4>
<h4>Numéro du placement visualisé : {{ indicePla }}</h4>

<br>

<div style="position: relative; left: 0px; top: 5px; height: 400px; width: 800px; background-color: lightgray" class="container">
 <div class = "wrapper" *ngFor="let danseur of danseurs; let index = index" >
 
   <div
     class = "theDiv"
     style="height: 20px; width: 20px; background-color: white"
     cdkDrag [cdkDragFreeDragPosition]="dragPositions[index]"
     cdkDragBoundary=".container"
     (cdkDragEnded)="onDragEnded($event, index)">
     {{danseur.id}}
   </div>
 </div>


 </div>
 <br>

 <br>
</div>

</div>