<body>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Enregistrer une nouvelle chorégraphie</h2><br>
            <div class="button-area-line">
                <button type="button" class="btn btn-primary" (click)="precedent()"> Précédent </button>
                <button type="button" class="btn btn-primary" (click)="suivant()"> Suivant </button>
                <button (click)="suivant_autom()"> Suivant Autom </button>
                <button (click)="stop()"> Stop </button>
            </div><br>
            <label>Placement visualisé : {{ indicePlacement }}/{{ longueur }} </label>
            <div class="in-line">
                <div style="position: relative; left: 0px; top: 5px; height: 400px; width: 800px; background-color: lightgray" class="container">
                    <div class = "wrapper" *ngFor="let danseur of danseurs; let index = index" >
                        <div
                            class = "theDiv"
                            style="height: 20px; width: 20px; background-color: white"
                            cdkDrag [cdkDragFreeDragPosition]="dragPositions[index]"
                            cdkDragBoundary=".container"
                            (cdkDragEnded)="onDragEnded($event, index)">
                            {{danseur.id}}
                        </div>
                    </div>
                </div>

                <div class="button-area">
                    <div class="box" > <button type="button" class="btn btn-success" (click)="add()"> Ajouter Danseur </button> </div>
                    <div class="box" > <button type="button" class="btn btn-success" (click)="savePlacement()"> Ajouter ce placement </button> </div>
                    <div class="box" > <button type="button" class="btn btn-success" (click)="modifierPlacement()"> Modifier ce placement </button></div>
                </div>
            </div> <br>
            <label for="nom">Public</label><br><br>
            <form [formGroup]="choregraphieForm" (ngSubmit)="onSaveChoregraphie()">
                <div class="form-group">
                    <label for="nom">Nom de la chorégraphie</label>
                    <input type="text" class="form-control" id="nom" formControlName="nom">
                </div><br>
                <div class="form-group">
                    <label for="choregraphe">Chorégraphe(s)</label>
                    <input type="text" class="form-control" id="choregraphe" formControlName="choregraphe">
                </div><br>
                <button class="btn btn-success" [disabled]="choregraphieForm.invalid" type="submit">Enregistrer</button>
            </form>
        </div>
    </div><br><br>
</body>